<body>

  <header>
    <span>Bookers</span>
  </header>

  <main>
     <%= render 'list', books: @books %>

    <div>
      <h2>Book detail</h2>
        
        <div>
          <%= image_tag @books.user.get_profile_image(100,100) %>
          
          <%= link_to "/users/#{@user.id}" do %>
            <%= @user.name %>
          <% end %>
          
          <p>Title</p>
            <%= link_to "/books/#{@books.id}" do %>
              <%= @books.title %>
            <% end %>
          <p>Opinion</p>
            <%= @books.body %>
          
          <% if @books.user == current_user %>
            <%= link_to 'Edit', edit_book_path %>
            <%= link_to 'Destroy', destroy_book_path(@books.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>

    </div>
  </main>

</body>