<body>

  <header>
    <span>Bookers</span>
  </header>

  <main>
     <%= render 'list', books: @books %>

    <div>
      <h2>Book detail</h2>
        
        <div>
          <%= image_tag @books.user.get_profile_image(100,100) %>
          <%= @user.name %>
          <%= link_to @book_path(params[:id) do %>
            <%= book.title %>
          <% end %>

          <p>Title</p>
            <%= @book.title %>
          <p>Opinion</p>
            <%= @book.body %>
        </div>

    </div>
  </main>

</body>