<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/c9675fd21a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>

    <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to "Bookers", root_path, class: 'navbar-brand' %>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to user_path(current_user), class: 'nav-link text-light' do %>
                  <p><i class="fa-solid fa-house"></i>Home</p>
                <% end %>
              </li>
              <li>
                <%= link_to users_path, class: 'nav-link text-light' do %>
                  <p><i class="fa-solid fa-users"></i>Users</p>
                <% end %>
              </li>
              <li>
                <%= link_to books_path, class: 'nav-link text-light' do %>
                  <p><i class="fa-solid fa-book-open"></i>Books</p>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                  <p><i class="fa-solid fa-right-from-bracket"></i>Log out</p>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to "Bookers", root_path, class: 'navbar-brand' %>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to root_path, class: 'nav-link text-light' do %>
                  <p><i class="fa-solid fa-house"></i>Home</p>
                <% end %>
              </li>
              <li>
                <%= link_to  about_path, class: 'nav-link text-light' do %>
                  <p><i class="fa-solid fa-link"></i>About</p>
                <%end %>
              </li>
              <li>
                <%= link_to  new_user_registration_path, class: 'nav-link text-light' do %>
                  <p><i class="fa-solid fa-user-plus"></i>Sign up</p>
                <% end %>
              </li>
              <li>
                <%= link_to  new_user_session_path, class: 'nav-link text-light' do %>
                <p><i class="fa-solid fa-right-to-bracket"></i>Log in</p>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>
  </header>

  <main>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </main>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>
